
{% extends 'index2.html' %}

{% block content %}
	<center><div class="container" id="row-container" style="width: 1900px;">
		<div class="col-md-22">
		  <div class="card" id="card-container-layout">
			  <div class="card-body" id="card">
				  <p class="card-title"><i><b>{{name}}</b></i> uploaded successfully</p>
				  <h4><i>Questionnaire {{state}}</i></h4>
				  <a class="btn btn-primary" id="show-btn" href="/admin">Go Back to Home</a>
			  </div>
		  </div>
	  </div>
	</center>

{% endblock content%}