
{% extends 'index.html' %}

{% block content %}
	<center><div class="container" id="row-container" style="width: 1900px;">
		<div class="col-md-22">
		  <div class="card" id="card-container-layout">
			  <div class="card-body" id="card">
				  <h4 class="card-title"><i><b>{{name}}</b></i> uploaded successfully</h4>
				  <p><i>Questionnaire {{state}} to the database</i></p>
				  <a class="btn btn-primary" id="show-btn" href="/admin">Go Back to Home</a>
			  </div>
		  </div>
	  </div>
	</center>

{% endblock content%}