{% extends 'index.html' %}

{% block content %}


{% for q in question %}

<div class="container" id="row-container" style="width: 500px;" >
    {% include "flash_messages.html" %}

		<div class="row" id="row" >
		 <div class="col-md-12" >
            <div class="card" id="card-container-layout" >
                <div class="card-body" id="card" >
                    <h4 class="card-title">{{ q.Qtext }}</h4>
                    <form action="/next/{{qid}}/{{questionid}}/{{session}}" name="MyForm" method="POST">
                      {{ form.hidden_tag() }}
                      {% for o in options %}
                     <p>  
                     <input type="radio" name="options" id="option1" value="{{o.Opt_ID}}">  {{o.Opt_text}} </input><br>
                     </p>
                     {% endfor %}
                     {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
                     </form>
                      {% endfor %}
                </div>
            </div>
        </div> 
		 
{% endblock content%}


