{% extends 'index.html' %}

{% block content %}

<div class="container" id="row-container" style="width: 700px;" >
<br>
<br>
<br>
<br>
<br>
<br>
    {% include "flash_messages.html" %}
    <div class="card," id="card-container-layout" >
		
        <div class="card-body" id="card" >
            <center>
            <h4 class="card-title">Congratulations!</h4>
            <p class="card-text" id="paragraph">You answered all the necessary questions. Thank you!<br></p>
            </center>
        </div>
        
        <center>
        <div class="container" id="row-container" style="width: 300px;" >
            <div class='parent'>
            <a href="/summary/{{session}}" class="btn btn-primary">Show Summary</a>
            <p>&nbsp;&nbsp;</p>
            <a href="/user" class="btn btn-primary">Go Home</a>
            </div>
                </div>
            </center>
            </div>
        </div> 
    </div>
</div>

        <style>
            .parent{ 
                display:flex; 
             } 
            </style>

        {% endblock content%}