{% extends 'index.html' %}

{% block content %}


{% for cont in Questionnaire %}

<center><div class="container" id="row-container" style="width: 1500px;">
  <div class="col-md-4">
    <div class="card" id="card-container-layout">
        <div class="card-body" id="card">
            <h4 class="card-title">{{cont.Questionnaire_Title}}</h4>
            <a class="btn btn-primary" id="show-btn" href="/answering">See Questions</a>
        </div>
    </div>
</div></center>
{% endfor %}
{% endblock content%}