{% extends 'index.html' %}

{% block content %}
				<h1>--------{{tablename1}}--------</h1>
					<div class="table-responsive">
                        <table class="table table-light table-bordered">
                            <thead class="table-dark">
                                <tr>
                                    <th>Questionnaire_Title</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for Questionnaires in Questinnaire %}
								
									<tr>
										<td> {{ Questionnaire.Ranking }}</td>
										<td> {{ Questionnaire.Questinnaire_Title }} </td>
									</tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
					
         
{% endblock content%}