{% extends 'index.html' %}

{% block content %}
<br>
<br>
<br>

<div class="container" id="row-container" style="width: 500px;">
    {% include "flash_messages.html" %}

		<div class="row" id="row">
		 <div class="col-md-12">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Check Questionnaires of a category</h4>
                    <p class="card-text" id="paragraph">Type the category of the questionnaires you are interested in answering<br></p>
                    <form action="/user" method = "POST">
                        <div class="form-group">
                          <label for="exampleInputUsername1">Category</label>
                          <input type="text" class="form-control" name="Category">
                          <p style="color:red">Invalid Category</p>
                        </div>
                        <input type="submit" class="btn btn-primary" name="submit_button" value="Check"> <input type="submit" class="btn btn-primary" name="submit_button" value="See all Questionnaires">
                    </form>
                </div>
            </div>
        </div> 

        {% for cont in res %}
		</div>
		 <div class="row" id="row-2">
		  <div class="col-md-12">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">{{cont.questionnaire_title}}</h4>
                    <a class="btn btn-primary" id="show-btn" href="/answering">Answer it</a>
                </div>
            </div>
        </div>
        {% endfor %}
		 
{% endblock content%}