{% extends 'index.html' %}

{% block content %}
<div class="container" id="row-container" style="width: 500px;" >
<h4>Upload your questionnaire here!</h4>

				<h1>{{name}}</h1>
                <br/>
                <form action="" method="post" enctype="multipart/form-data">

<div class="form-group"> <label for="exampleInputFile"></label> <input type="file" id="exampleInputFile" accept="*.json"> <p class="help-block">Upload your .json file here.</p> </div>
<form>
    <a class="btn btn-primary" id="show-btn" href="">Submit</a>
</div><br/>
{% endblock content%}
