{% extends 'index.html' %}

{% block content %}
<br>
<br>
<br>

<div class="container" id="row-container" style="width: 500px;">
    {% include "flash_messages.html" %}

        {% for cont in res %}
        </div>
        <div class="row" id="row-2">
            <div class="col-md-12">
                <b style="font-size:30px;margin-left:20px;"> Available Questionnaires</b>
                <div class="card" id="card-container-layout">
                    <div class="card-body" id="card">
                    <h4 class="card-title">{{cont.Questionnaire_Title}} <a style="margin-left:20px;"class="btn btn-primary" id="show-btn" href="/answering">Answer it</a></h4> 
                </div>
            </div>
        </div>
        {% endfor %}
 
{% endblock content%}