{% extends 'index.html' %}

{% block content %}
<br>
<br>
<br>

<div class="container" id="row-container" style="width: 600px;">
<div class="row" id="row" >
    <div class="col-md-12" >
       <div class="card" id="card-container-layout" >
            <div class="card-body" id="card" >
                <center> <h4 class="card-title">Upload your questionnaire here!</h4></center>
                <p class="card-text" id="paragraph">Upload your .json file here.</p>
                <h1>{{name}}</h1>
                <form action = "/questionnaire_upd" method = "post" enctype="multipart/form-data">  
                    <input type="file" name="file" >  
                    <input type = "submit" class="btn btn-primary" value="Upload">  
                </form>
            </div>
        </div>
    </div>
    
{% endblock content%}