{% extends 'index.html' %}

{% block content %}
<div class="container" id="row-container">
    {% include "flash_messages.html" %}

		<div class="row" id="row">
		 <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Check Questionnaires of a category</h4>
                    <p class="card-text" id="paragraph">Type the category of the questionnaires you are interested in answering<br></p>
                    <form>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Category</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary" id="show-btn" href="/user">Check</button>
                    </form>
                </div>
            </div>
        </div>  
		

        {% for cont in res %}
		</div>
		 <div class="row" id="row-2">
		  <div class="col-md-4">
            <div class="card" id="card-container-layout">
                <div class="card-body" id="card">
                    <h4 class="card-title">Questionnaire #{{cont}}</h4>
                    <p class="card-text" id="paragraph">{{cont.questionnaire_title}}<br></p>
                    <button type="submit" class="btn btn-primary" id="show-btn" href="/answering">Answer it</button>
                </div>
            </div>
        </div>
        {% endfor %}
		 
{% endblock content%}